/* COMMON */
body {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /*줄 높이 1.4배*/
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block; /*로고 이미지가 인라인 요쇼인데 이걸 블럭 요소로 바꿔서 로고 아래 여백을 지워준다(베이스라인 아래에 여백)*/
}
a { /*모든 a 태그에 밑줄을 사용하지 않곘다*/
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto; /*가운데정렬*/
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333333;
  border-radius: 4px;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}
.btn:hover { /*버튼에 커서를 올렸을때 효과*/
  background-color: #333333;
  color: #ffffff;
}
.btn.btn--reverse {
  background-color: #333333;
  color: #ffffff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333333;
}
.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover {
  color: #ffffff;
  background-color: #592B18;
}
.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover {
  color: #ffffff;
  border-color: #D9AA8A;
}
.btn.btn--white {
  color: #ffffff;
  border-color: #ffffff;
}
.btn.btn--white:hover {
  color: #333333;
  border-color: #ffffff;
}
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
/*요소들을 순서대로 나타게 하기위함*/
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}



/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  width: 100%;/*포지션 fixed는 화면을 넓게 쓰는게 아닌 줄어들려하기 때문에 width:100%값을 추가해 준다*/
  top: 0;
  z-index: 9;
}
header > .inner{ /*'>'자식 선택자를 사용해 헤더 안에 있는 inner에만 적용*/
  height: 120px;
}
header .logo {
  height: 75px;
  position: absolute; /*부모 요소 기준으로 배치*/
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;

}
header .sub-menu ul.menu li {
  position: relative; 
}
header .sub-menu ul.menu li::before {
  content: "";
  /* display: block;  생략가능*/
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute; /* 자동으로 블럭요소로 변한다 */
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before{
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px; /*위아래 좌우 패딩을 넣어 클릭 영역을 넓혀주는 것*/
  display: block; /*a태그는 인라인요소로 블럭요소 바꿔야 영역값을 가질 수 있다*/
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px, 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none; /*검색창 클릭했을때 주변에 아웃라인 생기는 것을 제거*/
  background-color: #ffffff;
  color: #777; /*검색창 안에 글씨 색*/
  transition: width 0.4s;
}
header .sub-menu .search input:focus { /*검색창 클릭시 길어짐*/
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right:5px;
  transition: 0.4s;
}
header .sub-menu .search.focused .material-icons {/*searchEl.classList.add('focused')*/
  opacity: 0;
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
header .main-menu .item {
  
}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item.item:hover .item__name {
  background-color:  #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0px 0px;
}
header .main-menu .item .item__contents {/*top이나 bottom 속성을 사용하지 않아 수직 위치 값이 없다면, 요소의 원래 위치를 그대로 사용합니다*/
  width: 100%;
  position:fixed; /*만약 position:absolute 를 사용했다면 (위치상) 부모요소를 기준으로하므로 화면의 뷰포트 좌우 끝까지 늘어날 수 없게 됩니다*/
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {/*heigh값을 안넣은 이유는 컨텐츠가 길어지면 그에 맞게 사이즈가 변경되게 하기 위해서(auto)*/
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul >li h4 {
  padding: 3px 0px 12px 0px;
  font-size: 14px;
  color: #ffffff;
}
header .main-menu .item .item__contents .contents__menu > ul >li ul li {
  padding: 5px 0px;
  font-size: 12px;
  color: #999;
  cursor: pointer; /*마우스를 올렸을때 커서 모양이 손가락 모양으로 바뀜*/
}
header .main-menu .item .item__contents .contents__menu > ul >li ul li:hover {
  color: #669900;
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0px;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0px 14px; /*상 중(오른쪽 왼쪽) 하*/
}


header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge {
  border-radius: 10px; /*박스의 모서리에 라운드를 줌*/
  overflow: hidden;  /*라운드 준 박스 모서리 밖으로 이미지가 튀어나온 부분을 hidden으로 숨김*/
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.15); /*그림자 - x축 y축 블러 색상(rgb 3개 숫자, 블러값)*/
  cursor: pointer; /*커서 손가락 모양으로 변경*/
}



/* FOOTER */
footer {
  background-color: #272727;
  border-top: 1px solid #333333;
}
footer .inner {
  padding: 40px 0 60px 0;
}
footer .menu {
  display: flex;
  justify-content: center;
  
}
/*사이사이 점 표현*/
footer .menu li {
position:relative;
}
footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .menu li:last-child::before {
  display: none;
}

footer .menu li a {
  color: #cccccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block; /*a 태그는 인라인요소라서 블럭요소로 바꿔줌*/
}
footer .menu li a.green {
  color: #669900;
}
footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {
  margin-right: 0;
}
footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px
}
footer .logo {
  margin: 30px auto 0; /*로고는 이미지 요소이기 때문에 가로너비를 입력하지 않아도 가운데 정렬가능*/
}